altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.9
future==0.18.2
idna==3.3
pefile==2021.9.3
Pillow==8.4.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyjion==1.1.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pywin32==303
pywin32-ctypes==0.2.0
requests==2.26.0
ttkthemes==3.2.2
urllib3==1.26.7
